<form id="account" method="post" asp-route-returnUrl="@Url.Action("Index", "Sales")">
    <h2 class="display-4">Войти в систему</h2>
    <p/>
    
    <div style="width: 50%;">
        <div class="form-floating">
            <input id="userNameInput" name="userName" class="form-control" placeholder="Имя пользователя" value="admin"/>
            <label for="userNameInput" class="form-label">Имя пользователя</label>
        </div>

        <div class="form-floating" style="margin-top: 10px">
            <input id="passwordInput" name="password" class="form-control" placeholder="Пароль" value="admin"/>
            <label for="passwordInput" class="form-label">Пароль</label>
        </div>
        <div style="margin-top: 10px">
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
        </div>
    </div>
</form>
