<h1 class="display-4">Отчеты</h1>

<h2 class="display-6">
    <a asp-controller="Reports" asp-action="GetComputerConfigurationsSales">Продажи компьютерных сборок</a>
</h2>
<h2 class="display-6">
    <a asp-controller="Reports" asp-action="GetCustomersPurchases">Покупки клиента за временной интервал</a>
</h2>